button {
   /* #background-color: #e0ac2f; */
   background-color: #ff6b00;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-family: "Inter", Arial, Helvetica, "Helvetica Neue", sans-serif;
   font-size: 15px;
}
div {
   padding: 15px 32px;
}
body {
   text-align: center;
   /*background-color: black;} */
   background-color: #0f1117;
}
p {
   color: white;
   text-align: center;
   font-family: "Inter", Arial, Helvetica, "Helvetica Neue", sans-serif;
   font-size: 15px;
}
#results {
   height: 120px;
}
